.show-container {
  .main-layout {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    .social-media {
      margin: 0 auto;
      margin-top: 33px;
      svg:hover {
        cursor: pointer;
      }
    }
    .viewpost {
      margin: 0 50px;
      h1 {
        transition: 0.3s ease-in;
      }
      h1:hover {
        color: #de7b85;
        cursor: pointer;
      }
      img {
        width: unset;
      }
      p {
        width: unset;
      }
    }
  }
}
.edmodal-container {
  margin-top: 50px;
  a,
  button {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin: 30px;
    padding: 10px 20px;
    background-color: white;
    color: #de7b85;
    border: 1px solid #de7b85;
    border-radius: 5px;
    svg {
      padding-right: 5px;
    }
  }
}
.SocialMediaShareCount.count {
  padding: 7px;
  color: #de7b85;
}
.SocialMediaShareButton {
  display: flex;
}
form {
  margin-top: 100px;
  textarea {
    resize: none;
    border: none;
    height: 30px;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
    border-left: 1px solid lightpink;
    width: 100%;
  }
  button {
    padding: 10px 20px;
    background: white;
    color: #de7b85;
    border: 1px solid #de7b85;
    border-radius: 5px;
    cursor: pointer;
  }
}
.white {
  color: gray;
}
.red {
  color: red;
}
.like {
  svg {
    padding: 10px 0 10px 3px;
    font-size: 24px;
  }
}
