.container {
  margin: 50px;
  font-family: "Montserrat", sans-serif;
  .toplayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      font-size: 40px;
      font-weight: 300;
      letter-spacing: -3px;
    }
    .auth {
      text-align: center;
      line-height: 60px;
      a {
        margin: 0 10px;
        text-decoration: none;
        color: black;
      }
      button {
        border: none;
        padding: 10px;
        background: white;
        cursor: pointer;
      }
      button:hover {
        color: #de7b85;
      }
      .register {
        padding: 8px 16px;
        border: 1px solid lightpink;
        border-radius: 5px;
        transition: background-color 1s;
      }
      .register:hover {
        cursor: pointer;
        background-color: lightpink;
        color: white !important;
      }
    }
  }
  .navbar {
    display: flex;
    margin: 28px 0;
    justify-content: space-between;
    input {
      border: none;
      width: 200px;
      border-bottom: 1px solid lightpink;
      outline: none;
      padding: 10px 20px;
      font-size: 15px;
      transition: width 0.5s;
    }
    input:hover {
      width: 300px;
    }
    .search {
      .searchresult {
        svg {
          margin-left: -26px;
        }
      }
    }
    .searchresult:hover input {
      width: 300px;
    }
    .menu {
      ul {
        padding-left: 0;
        display: block;
        li {
          display: inline;
          a {
            margin: 0 20px;
            text-decoration: none;
            color: black;
            transition: border-bottom 0.1s ease-in-out;
          }
          a:hover {
            padding-bottom: 10px;
            border-bottom: 2px solid orange;
          }
          a:active {
            padding-bottom: 13px;
            border-bottom: 2px solid orange;
          }
        }
      }
    }
  }
}
.allpost {
  display: grid;
  grid-template-columns: 70% 30%;
  .recentpost-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
#signupform {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#loginform {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.myinfo {
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .myprofile {
    margin-left: 10px;
    h3 {
      line-height: 30px;
      margin-block-start: 0;
      margin-block-end: 0;
      width: unset;
    }
  }
}

.me {
  .myinfo {
    p {
      display: none;
    }
  }
  ul {
    margin-left: -200px;
    width: 250px;
    height: 350px;
    display: none;
    list-style-type: none;
    transition: display 0.5s ease-in;
    position: fixed;
    background: white;
    padding: 0 20px;
    margin-top: 0;
    li {
      padding: 20px 0;
      cursor: pointer;
    }
  }
}
.me:hover ul {
  display: block;
}
